<div class="pageContent">
    <gallery></gallery>
    <div class="deckHolder" ng-class="{'deckHolder-alt-layout':gallery}">
        <div class="deckSeven" ng-class="{'gallery-thumbs':gallery}">
            <div id="dkSevenOne" ng-click="myFunction($event)" data="0" data-gallery></div>
            <div id="dkSevenTwo" ng-click="myFunction($event)" data="1" data-gallery></div>
            <div id="dkSevenThree" ng-click="myFunction($event)" data="2" data-gallery></div>
            <div id="dkSevenFour" ng-click="myFunction($event)" data="3" data-gallery></div>
            <div id="dkSevenFive" ng-click="myFunction($event)" data="4" data-gallery></div>
        </div>
    </div>
    <!-- SIDE BAR LAYOUT -->
    <div ng-show="details" class="detailPanel">
        <div class="navTabs">
            <div class="panel-group" id="accordion">
                <div class="panel" ng-click="openAccordionSection($event)">
                    <div class="panel-heading">
                        <p class="panel-title">
                            OS
                        </p>
                    </div>
                    <div class="panel-wrapper panel-default">
                        <div id="items"></div>
                    </div>
                    <div class="faux-button" ng-click="openAccordionSection($event)"></div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <p class="panel-title">
                            PS2
                        </p>
                    </div>
                    <div class="panel-wrapper panel-default">
                        {{ galleryContent[0] }}
                    </div>
                    <div class="faux-button" ng-click="openAccordionSection($event)"></div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <p class="panel-title">
                            DV1
                        </p>
                    </div>
                    <div class="panel-wrapper panel-default">
                        {{ galleryContent[1] }}
                    </div>
                    <div class="faux-button" ng-click="openAccordionSection($event)"></div>
                </div>
            </div>
        </div>
        <!-- end navTabs -->
    </div>
    <!-- end detailPanel -->
    <h4 class="deckNum" ng-class="{'white' : details}">
        {{ deckNum }}
    </h4>
    <p id="h5Btn" ng-class="{' white detailsBtn ' : details}" ng-click="detailsToggle(); features()" ng-bind="divText">
        Details
    </p>
    <div class="interactiveSpace"></div>
    <div class="touchPointHolder" ng-click="features()">
        <span data="2" ng-click="captureClick($event)">OS</span>
        <span data="3" ng-click="captureClick($event)">PS2</span>
        <span data="4" ng-click="captureClick($event)">DV1</span>
    </div>
</div>